{% extends "main.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Neue Gutschrift</legend>
				<div class="form-group">
					{{ form.date.label(class="form-control-label") }}
					{{ form.date(class="form-control form-control-sm") }}
				</div>
				<div class="form-group">
					Kunde
					{% if emptyCustomer %}
						{{ form.customer(class="form-control form-control-lg") }}
					{% else %}
						<br>
						{{ form.customerName }}
						{{ form.customer(class="invisible") }}
					{% endif %}
				</div>
				<div class="form-group">
					<table class="table table-striped table-sm">
						<tr><th>Kiste</th><th>Frucht</th><th>Menge (kg)</th><th>Auszahlen</th><th>Gutschrift</th><th>Auszahlung</th></tr>
						{% for l in form.depositItems %}
						{{ l.form.hidden_tag() }}
							<tr>
								<td>
									{{ l.form.box }}
									{{ l.form.boxNumber.data }}
								</td>
								<td>
									{{ l.form.boxContent.data }}
								</td>
								<td>
									{{ l.form.ratio }}
									{{ l.form.price }}
									{{ l.form.amount(class="form-control form-control-sm", onchange="deposit_calc_item(this);") }}
								</td>
								<td>
									{{ l.form.payOut(class="form-control form-control-sm", onclick="deposit_calc_item(this);") }}
								</td>
								<td>
									{{ l.form.amountLiter(class="form-control form-control-sm", readonly=true) }}
								</td>
								<td>
									{{ l.form.amountEuro(class="form-control form-control-sm", readonly=true) }}
								</td>
							</tr>
						{% endfor %}
						{% for l in form.emptyDepositItems %}
						{{ l.form.hidden_tag() }}
							<tr>
								<td>
									{{ l.form.boxNumber(class="form-control form-control-sm") }}
								</td>
								<td>
									{{ l.form.boxContent(class="form-control form-control-sm", onchange="deposit_calc_empty_item(this);") }}
								</td>
								<td>
									{{ l.form.amount(class="form-control form-control-sm", onchange="deposit_calc_empty_item(this);") }}
								</td>
								<td>
									{{ l.form.payOut(class="form-control form-control-sm", onclick="deposit_calc_empty_item(this);") }}
								</td>
								<td>
									{{ l.form.amountLiter(class="form-control form-control-sm", readonly=true) }}
								</td>
								<td>
									{{ l.form.amountEuro(class="form-control form-control-sm", readonly=true) }}
								</td>
							</tr>
						{% endfor %}
					</table>
					<table class="table table-striped table-sm">
						<tr>
							<th>Frucht</th>
							<th>Menge (kg)</th>
							<th>Menge (Liter)</th>
						</tr>
						{% for f in fruits.items %}
						<tr>
							<td>{{ f.form.name.data }}</td>
							<td>{{ f.form.amount(class="form-control form-control-sm", readonly=true) }}</td>
							<td>{{ f.form.total(class="form-control form-control-sm", readonly=true) }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
		{% for f in fruits.items %}
			{{ f.form.id }}
			{{ f.form.name }}
			{{ f.form.price }}
			{{ f.form.ratio }}
		{% endfor %}
	</div>
{% endblock content %}