{% extends "main.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Neuer Verkauf</legend>
				<div class="form-group">
					{{ form.date.label(class="form-control-label") }}
					{{ form.date(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					{{ form.customer.label(class="form-control-label") }}
					{{ form.customer(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					<table class="table table-striped">
						<tr><th>Artikel</th><th>Menge</th><th>Preis</th><th>Summe</th></tr>
						{% for l in form.purchaseItems %}
						{{ l.form.hidden_tag() }}
							<tr>
								<td>
									{{ l.form.articleName.data }}
									{{ l.form.article }}
								</td>
								<td>
									{{ l.form.amount(class="form-control form-control-lg") }}
								</td>
								<td>
									{{ l.form.price.data }}
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}