{% extends "main.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Neuer Verkauf</legend>
				<div class="form-group">
					{{ form.date.label(class="form-control-label") }}
					{{ form.date(class="form-control form-control-lg") }}
				</div>
				<div class="form-group">
					{{ form.customer.label(class="form-control-label") }}
					{% if emptyCustomer %}
						{{ form.customer(class="form-control form-control-lg") }}
					{% else %}
						<br>
						{{ form.customerName }}
						{{ form.customer(class="invisible") }}
					<h3>Guthaben</h3>
						<table class="table table-striped table-sm">
							<tr><th>Frucht</th><th>Guthaben</th></tr>
							{% for c in form.customerDeposits %}
							{{ c.form.hidden_tag() }}
							<tr>
								<td>{{ c.form.fruitName.data }}{{ c.form.fruit }}</td>
								<td>{{ c.form.amount(class="form-control form-control-sm", readonly=true) }}</td>
							</tr>
							{% endfor %}
						</table>
					{% endif %}
				</div>
				<div class="form-group">
					<h3>Artikel</h3>
					<table class="table table-striped table-sm">
						<tr><th>Artikel</th><th>Menge</th><th>Preis</th><th>Summe</th></tr>
						{% for l in form.purchaseItems %}
						{{ l.form.hidden_tag() }}
							<tr>
								<td>
									{{ l.form.articleName.data }}
									{{ l.form.article }}
								</td>
								<td>
									{{ l.form.amount(class="form-control form-control-sm", onchange="purchase_calc_item(this);") }}
								</td>
								<td>
									{{ l.form.price.data }}
								</td>
								<td>
									{{ l.form.total(class="form-control form-control-sm", readonly=true) }}
								</td>
							</tr>
						{% endfor %}
					</table>
					<h3>Ausgleich</h3>
					<table class="table table-striped table-sm">
						<tr>
							<th>Frucht</th>
							<th>Menge (Liter)</th>
							<th>Preis pro Liter</th>
							<th>Summe</th>
						</tr>
						{% for c in form.purchaseCompensations %}
						{{ c.form.hidden_tag() }}
						<tr>
							<td>{{ c.form.fruitName(class="form-control form-control-sm", readonly=true) }}{{ c.form.fruit }}</td>
							<td>{{ c.form.amount(class="form-control form-control-sm", readonly=true) }}</td>
							<td>{{ c.form.price(class="form-control form-control-sm", readonly=true) }}</td>
							<td>{{ c.form.total(class="form-control form-control-sm", readonly=true) }}</td>
						</tr>
						{% endfor %}
					</table>
					<h3>Gesamt</h3>
					<table class="table table-striped table-sm">
						<tr>
							<th>Frucht</th>
							<th>Menge (Liter)</th>
						</tr>
						{% for f in fruits.items %}
						<tr>
							<td>{{ f.form.name.data }}
								{{ f.form.id }}
								{{ f.form.name }}
								{{ f.form.price }}
								{{ f.form.ratio }}</td>
							<td>{{ f.form.total(class="form-control form-control-sm", readonly=true) }}</td>
						</tr>
						
						{% endfor %}
					</table>
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}