{% extends "main.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Kiste bearbeiten</legend>
				<div class="form-group">
					{{ form.number.label(class="form-control-label") }}
					{% if form.number.errors %}
						{{ form.number(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.number.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.number(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.content.label(class="form-control-label") }}
					{% if form.content.errors %}
						{{ form.content(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.content.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.content(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ended.label(class="form-control-label") }}
					{% if form.ended.errors %}
						{{ form.ended(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.ended.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.ended(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}