{% extends "main.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Frucht bearbeiten</legend>
				<div class="form-group">
					{{ form.name.label(class="form-control-label") }}
					{% if form.name.errors %}
						{{ form.name(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.name.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.name(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.ratio.label(class="form-control-label") }}
					{% if form.ratio.errors %}
						{{ form.ratio(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.ratio.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.ratio(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.price.label(class="form-control-label") }}
					{% if form.price.errors %}
						{{ form.price(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.price.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.price(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.pricePerLiter.label(class="form-control-label") }}
					{% if form.pricePerLiter.errors %}
						{{ form.pricePerLiter(class="form-control form-control-lg") }}
						<div class="invalid-feedback">
							{% for error in form.pricePerLiter.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.pricePerLiter(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}