{% extends "main.html" %}
{% block content %}
	<h1>Kunden</h1>
	<a href="{{ url_for('customers.addCustomer') }}">neuer Kunde</a>
	<table class="table table-striped table-sm">
		<tr><th>ID</th><th>Name</th><th>Straße<br>PLZ, Ort</th><th>
		{% for f in fruits %}
			{{ f.name }}<br>
		{% endfor %}</th><th>Bearbeiten</th><th>Aktion</th></tr>
		{% for c in customers %}
			<tr><td>{{ c.id }}</td><td>{{ c.name }}</td><td>{{ c.street }}<br>{{ c.zipcode }} {{ c.city }}</td><td>
			{% for f in fruits %}
				{% for a in c.amounts() %}
					{% if a[0] == f.name %}
						{% if a[2] != 0 %}
							{{ '{0:.1f}'.format(a[2]) }} l
						{% endif %}
					{% endif %}
				{% endfor %}
				<br>
			{% endfor %}
			</td>
			<td><a href="{{ url_for('customers.viewCustomer', customer_id=c.id) }}">Anzeigen</a>
				<br><a href="{{ url_for('customers.editCustomer', customer_id=c.id) }}">Bearbeiten</a>
				<br><a href="{{ url_for('customers.deleteCustomer', customer_id=c.id) }}">Löschen</a></td>
			<td><a href="{{ url_for('deposits.addDeposit', customer_id=c.id) }}">neue Gutschrift</a>
				<br><a href="{{ url_for('purchases.addPurchase', customer_id=c.id) }}">neuer Verkauf</a></td>
			<tr>
		{% endfor %}
	</table>
{% endblock content %}