{% extends "main.html" %}
{% block content %}
	<h1>Kunden</h1>
	<table class="table table-striped">
		<tr><th>ID</th><th>Name</th><th>e-Mail</th>
		{% for f in fruits %}
			<th>{{ f.name }} (l)</th>
		{% endfor %}<th></th><th></th></tr>
		{% for c in customers %}
			<tr><td>{{ c.id }}</td><td>{{ c.name }}</td><td>{{ c.email }}</td>
			{% for f in fruits %}
				<td>
				{% for a in c.amounts() %}
					{% if a[0] == f.name %}
						{% if a[2] > 0 %}
							{{ '{0:.1f}'.format(a[2]) }} l
						{% endif %}
					{% endif %}
				{% endfor %}
				</td>
			{% endfor %}
			<td><a href="{{ url_for('customers.editCustomer', customer_id=c.id) }}">Bearbeiten</a></td><td><a href="{{ url_for('customers.deleteCustomer', customer_id=c.id) }}">Löschen</a></td></tr>
		{% endfor %}
		<tr><td></td><td><a href="{{ url_for('customers.addCustomer') }}">neuer Kunde</a></td><td></td></tr>
	</table>
{% endblock content %}